.grid_wrapper {
  box-sizing: border-box;
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  padding: 40px;

  @media(min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  @media(min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media(min-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
